hover/
hover_cpu/
checkpoints/
test/

test*

__pycache__/

# Jupyter Notebook
.ipynb_checkpoints
 
# Spyder project settings
.spyderproject
.spyproject

#don't push nextflow for now

*nextflow*
*.nf

